/* General */
* {
  border-radius: 0;
  font-family: "FiraCode Nerd Font";
  font-size: 13px;
  color: #c0caf5;
}

window#waybar {
  background-color: rgba(26, 27, 38, 0.10); 
}

tooltip {
  background-color: rgba(21, 22, 30, 0.10);
}
#workspaces button {
  margin: 4px;
  padding: 0 8px;
  border-radius: 9999px;
  background-color: transparent; 
}

#workspaces button:hover {
  border-color: transparent;
  box-shadow: none;
  background: rgba(65, 72, 104, 0.10);
}

#workspaces button.focused,
#workspaces button.active {
  padding: 0 13px;
  background: rgba(47, 51, 77, 0.10);
}

/* Modules */
#clock,
#network,
#wireplumber,
#bluetooth,
#battery,
#custom-updates,
#custom-tasks,
#custom-containers,
#custom-power,
#custom-keybindings,
#mode {
  margin: 4px;
  padding: 0 13px;
  border-radius: 9999px;
  background-color: rgba(47, 51, 77, 0.10);
}

#network {
  padding: 0 15px 0 11px;
}

#mode,
#custom-updates {
  color: #bb9af7;
  font-weight: bold;
}

#battery.critical {
  color: #f7768e;
  font-weight: bold;
}
